.galeria-section {
    width: 100%;
    min-height: 100vh;
    padding: 80px 20px;
    background: #0C4CA3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galeria-section h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: none;
    color: white;
}

/* Línea con diamante */
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.galeria-line {
    width: 80px;
    height: 3px;
    background-color: white;
}

.galeria-diamond {
    width: 14px;
    height: 14px;
    background-color: white;
    transform: rotate(45deg);
    margin: 0 10px;
}


/* Texto */
.galeria-section p {
    max-width: 700px;
    margin-bottom: 15px;
    color: white;
}

/* Carrusel */
.galeria-carrusel {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.galeria-img-activa {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.8s ease-in-out;
}

/* Indicadores de puntos */
.galeria-indicadores {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicador {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: white;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.indicador.activo {
    opacity: 1;
    background: yellow;
}

@media (max-width: 768px) {
    .galeria-img-activa {
        max-width: 90%;
    }
}
